

.cat_item{
    height: 50vh;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.cat_item h2{
    text-align: center;
    line-height: 50vh;
}

.cat_item:hover{
    transform: scale(1.05);
}
#contact{
    text-align: center;
    padding: 7% 15% 0;
  }
  .sic{
    padding-left: 40px;
  }
  .sli{
    padding-left: 20px;
  }
  .devoloper{
    float: right;
  }